


<h1>List of all the organs</h1>

  <ul> <% @organs.each do |organ| %>
    <li>User email: <%= organ.user.email  %> </li>
    <ul>
      <li> Organ's type: <%= organ.organ_type   %> </li>
      <li>Description: <%= organ.description  %> </li>
      <li> <%= organ.available == "1" ? "Available" : "Not avaiblabe for the moment"

            %> </li>
      <li>Renting price:<%= organ.price   %>€  </li>
    </ul>
<% end %></ul>
<%= link_to "My organs", show_path %>
<h2>End of list</h2>
