


<h1>List of all the organs</h1>

  <ul> <% @organs.each do |organ| %>
    <li>User email: <%= organ.user.email  %> </li>
    <ul>
      <li> Organ's type: <%= organ.organ_type   %> </li>
      <li>Description: <%= organ.description  %> </li>
      <li class="available"> <%= organ.available == true ? "Available" : "Not avaiblabe for the moment" %> </li>
      <li>Renting price:<%= organ.price   %>€  </li>
    </ul>
    <div id="avcal<%=organ.id%>" class="calbox"></div>
          <% bookings = [] %>
          <% organ.booking.each do |b| %>
            <% bookings.push([[b.date_start.year, b.date_start.month, b.date_start.day],[b.date_end.year, b.date_end.month, b.date_end.day]]) %>
          <% end %>
          <input type = "button" onclick = "hello(<%= bookings%>, <%= organ.id%>, 'today')" value = "Show calendar"> 
<% end %></ul>
<%= link_to "My organs", organ_path(@organs) %>
<h2>End of list</h2> 

<script>
const months = [
    ['January', 31],
    ['February', 28],
    ['March', 31],
    ['April', 30],
    ['May', 31],
    ['June', 30],
    ['July', 31],
    ['August', 31],
    ['September', 30],
    ['October', 31],
    ['November', 30],
    ['December', 31]
  ];
function hello(a, id, day){
  // a[x][0] is the date start array: year, month, day
  // a[x][1] is the date end array: year, month, day
  let bookings = [];
  a.forEach((item) => {
    const start = new Date(`${item[0][0]},${item[0][1]},${item[0][2]}`)
    const end = new Date(`${item[1][0]},${item[1][1]},${item[1][2]}`)
    bookings.push([start, end])
  });

  avcal = document.getElementById(`avcal${id}`)
  if (avcal.classList.contains('active') && day == 'today'){
    avcal.innerHTML = ""
    avcal.classList.remove('active')
  } else {
    date = new Date()
    if(day != 'today'){
      avcal.innerHTML = ""
      date = day
    }
    calendar(avcal, id, bookings, date, a)
  }
}

function getNext(date){
  return new Date(date.getFullYear(), date.getMonth() + 1, 1)
}

function getPrev(date){
  return new Date(date.getFullYear(), date.getMonth() - 1, 1)
}

function calendar(avcal, id, bookings, dateI, a){
  avcal.classList.add('active')
  const month = months[dateI.getMonth()]
  const prevId = getPrev(dateI).toString()
  const nextId = getNext(dateI).toString()

  const top = `
  <div class="month">
    <ul>
      <input type="button" class="prev" id="${prevId}" value="&#10094">
      <input type="button" class="next" id="${nextId}" value="&#10095">
      <li>${months[dateI.getMonth()][0]}<br><span style="font-size:18px">${dateI.getFullYear()}</span></li>
    </ul>
  </div>
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  <ul class="days" id="days${id}">`
  // const days =  document.getElementById(`days${id}`)
  avcal.insertAdjacentHTML('beforeend', top)
  for (let i = 1; i <= month[1]; i++) {
    const date = new Date(`${dateI.getFullYear()}, ${month[0]}, ${i}`)
    let day = `<li>${i}</li>`;
    bookings.forEach((booking) => {
      if(date <= booking[1] && date >= booking[0]){
        day = `<li><span class="active">${i}</span></li>`
      } 
    }); 
    document.getElementById(`days${id}`).insertAdjacentHTML('beforeend', day)
  }

  document.getElementById(`${prevId}`).addEventListener("click", () => {
    hello(a, id, getPrev(dateI))
  }, false);
  document.getElementById(`${nextId}`).addEventListener("click", () => {
    hello(a, id, getNext(dateI))
  }, false);
}
</script>
