

<h1>Organs for <%= @user.email %>:</h1>

  <ul>
    <% @organs.each do |organ|  %>
      <li>Organ kind: <%= organ.organ_type %></li>
        <ul>
          <li>Description: <%= organ.description %></li>
          <li>Renting price: <%= organ.price %></li>
        </ul>
        <%= link_to "EDIT", edit_organ_path(organ.id) %>
    <%end%>
  </ul>
<%= link_to "Add new organ",  new_organ_path %>


